<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/cinemadb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="DAL/Entities/HallEntity.hbm.xml"/>
        <mapping class="DAL.Entities.HallEntity"/>
        <mapping resource="DAL/Entities/MovieEntity.hbm.xml"/>
        <mapping class="DAL.Entities.MovieEntity"/>
        <mapping resource="DAL/Entities/RawEntity.hbm.xml"/>
        <mapping class="DAL.Entities.RawEntity"/>
        <mapping resource="DAL/Entities/ReservationEntity.hbm.xml"/>
        <mapping class="DAL.Entities.ReservationEntity"/>
        <mapping resource="DAL/Entities/SeanceEntity.hbm.xml"/>
        <mapping class="DAL.Entities.SeanceEntity"/>
        <mapping resource="DAL/Entities/SeatEntity.hbm.xml"/>
        <mapping class="DAL.Entities.SeatEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>